# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.so

# Virtualenv
venv/
env/
.venv/
ENV/

# Django stuff
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# If using Django debug toolbar, caches, etc.
*.sqlite3
*.db
*.swp
*.swo

# Static files (collected)
staticfiles/
static/

# VSCode / IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Env variables
.env
*.env

# pytest / coverage
.coverage
coverage/
htmlcov/
.pytest_cache/

#migrations
**/migrations/

